
.container {
    
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width : 1140px;
}



.main-post {
    background-color :blue;
text-align:justify-all;
    width:75%;
    float :left;
}

.other-post {
    
    margin-bottom: 350px;
    width:25%;
    float:left;
   text-align: center;
    background-color :green;
    
}
.author-post {
background-color: yellow;
    margin-bottom:120px;
    border-top: 1px solid #808080;
    

   
}

.other {
    margin-bottom: 40px;
    margin-top: 30px;
}

.clearfix {
    
}
.author-post img{
    margin-bottom: 10px;
    border-radius: 50px;
    float:left;
    height:100px;
    width:100px;
}
.author {
    font-size: 22px;
    margin-bottom: 640px;
    margin-left:115px;
    margin-top: 610px;
    
}
